<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../Assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../Assets/css/aside.css">
</head>
<body>
    
    <div class = "container-fluid">
        
        <div class = "row row-cols-12">
            <div class = "col-md-2 text-center">
                <div class = "noticias-header">
                    <img src="../Assets/img/mundo left.png" alt="">
                    <img src="../Assets/img/Noticias.png" alt="">
                    <img src="../Assets/img/mundo right.png" alt="">
                </div>
            </div>
            <div class = "w-100"></div>
            <div class = "col-md-2">
                <div class = "noticias-content overflow-auto text-center">
                    <p>El contenido ira aqui</p>
                    <p>y aqui</p>
                    <p>y aqui</p>
                    <p>aqui no, me cancelaron</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo debitis vel culpa perferendis dolorum officiis praesentium molestiae sit ipsum aperiam voluptatum, qui ea esse laudantium laboriosam incidunt, voluptate exercitationem? Blanditiis.</p>
                </div>
            </div>
            <div class = "w-100"></div>
            <div class = "col-md-2 text-center">
                <div class = "control-panel">
                    <a href="#" class = "panel-button">
                        <img src="../Assets/img/Control Panel PARNET.png" alt="">
                    </a>
                </div>
            </div>
            <div class = "w-100"></div>

            <div class = "col-md-2 text-center">
                <div class = "area-header">
                    <img src="../Assets/img/Areas PARNET.png" alt="">
                </div>
            </div>
            <div class = "w-100"></div>

            <div class = "col-md-2 text-center">
                <div class = "area-content">
                    <img src="../Assets/img/Areas PARNET.png" alt="">
                </div>
            </div>
            <div class = "w-100"></div>


        </div>

    </div>
    
    
    <script src="../Assets/js/bootstrap.min.js"></script>    
</body>
</html>